.ios, .md, .wp {
  $primary-color: color($colors, primary);
  page-comment-modal {
    ion-card {
      ion-row{
        padding: 5px;
        ion-col {
          img{
            max-width: 100%;
          }
        }
        ion-col.selected {
          background: rgba($primary-color, .4);
          box-shadow: 0 0 14px 5px rgba($primary-color, 0.7);
        }
        [col-3]{
          margin: 10px;
        }
      }
    }
  }
}
