<ion-header >

  <ion-toolbar color="primary">
    <ion-title >{{texts.writeCommentText}}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows,core"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label stacked>{{texts.nameLabel}}</ion-label>
      <ion-input type="text" [(ngModel)]="guestName" value="{{guestName}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{texts.commentLabel}}</ion-label>
      <ion-textarea rows="5"  [(ngModel)]="commentText"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-card>
    <ion-row justify-content-center>
      <ion-col col-3 col-sm-2 *ngFor="let code of imgCodes" (click)="selectAvatar($event, code)">
        <ion-avatar>
          <img [src]="imgPath + generateImgSrc(code)">
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col col-12 col-lg-8 offset-lg-2>
        <button ion-button (click)="postComment(guestName, commentText)" block>{{texts.sendBtnText}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
