.md, .ios, .wp{
  slide-header {
    // display: block;
    .slide-overlay {
      background: linear-gradient(transparentize(color($colors, dark), .4), transparent);
      position: absolute;
      height: 3.7em;
      width: 100%;
      z-index: 1;
    }
    .slider-top {
      position: absolute;
      height: 88%;
      width: 100%;
      z-index: 1;
      background: transparent;
    }
    // .swiper-container {
    //   z-index: 0;
    // }
    ion-slide {
      img{
        width: auto;
        max-width: 100vw;
        max-height: 45vh;
      }
      .slider-title {
        position: absolute;
        top: 36%;
        font-size: 2em;
        width: 100%;
        font-weight: 700;
        color: #fff;
        text-shadow: 7px 0px 11px black;
      }
      .slider-subtitle {
        font-size: 1em;
        position: absolute;
        top: 60%;
        width: 100%;
        color: #fff;
        text-shadow: 8px 1px 12px black;
      }
    }
  }
}
