<!-- <div class="slider-top" scrollGradient targetColor="[0,0,0]"></div> -->
<div class="slide-overlay"></div>
<ion-slides #slideHeader
            [loop]="slideConfig.loop"
            [effect]="slideConfig.effect"
            [parallax]="true"
            [zoom]="true"
            [centeredSlides]="true"
            [zoom]="false"
            *ngIf="slides">
  <ion-slide *ngFor="let img of slides.imgs">
    <img [src]="img.src" alt="img.title">
    <div class="slider-title">{{img.title}}</div>
    <div class="slider-subtitle">{{img.subtitle}}</div>
  </ion-slide>
</ion-slides>
