<ion-slides #contentSlider
            (ionSlideDidChange)="onSlideChange($event)"
            [initialSlide]="currIndex"
            *ngIf="sections"
            [zoom]="false">
  <ion-slide *ngFor="let section of sections" >
    <section-content [content]="section"></section-content>
  </ion-slide>
</ion-slides>
