.ios, .md, .wp {
  expandable-header {
    display: block;
    overflow: hidden;
    height: 45vh;
    background: url("https://placehold.it/800x600") center center/cover no-repeat;
    transition: height .5s 1s ease-out;
  }
}
