<!-- <ion-header>
  <div *ngIf="currSection">
    <expandable-header [sliderUpdated]="sliderUpdated" [scrollContent]="myContent"
                        [currSection]="currSection">
    </expandable-header>
    <ion-navbar>
    </ion-navbar>
  </div>
</ion-header> -->
<ion-content #myContent fullscreen parallax-header>
  <div class="header-image" #headerImg>
  </div>
  <div class="main-content" #mainContent>
    <nav-tabs *ngIf="currSection" [currSection]="currSection" #navTabs></nav-tabs>
    <div *ngIf="currSection && sliderUpdated">
      <slide-container [currSection]="currSection"
                        [sections]="sections"
                        [currIndex]="startIndex">
      </slide-container>
    </div>
  </div>
  <div *ngIf="!currSection">
    Loading....
  </div>
</ion-content>
