.ios, .md, .wp{
  page-root {
    ion-navbar {

      .back-button, .bar-button {
        display: none;
      }

    }

    ion-content {
      .header-image {
        background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
        height: 40vh;
        transition: height .4s ease-in;
      }
      .full {
        height: calc(100% - 42px);
      }
      .main-content {
        background-color: white;
      }

    }
  }
}
page-root {
  .toolbar-md {
    min-height: 0;
    padding-bottom: 0;
  }
}
