.md, .ios, .wp {
  nav-tabs {
    display: block;
    ion-segment-button {
      .segment-activated {
        border-bottom: 2px solid color($colors, primary);
      }
      &:not(.segment-activated) {
        border-bottom: 0;
      }
    }
  }
}
