<ion-segment [(ngModel)]="currSectionTitle" #segmentTabs >
  <ion-segment-button *ngFor="let section of sections"
                      [value]="section.title"
                      (ionSelect)="onSectionSelect(section)">
    {{section.title}}
  </ion-segment-button>
</ion-segment>
