.ios, .md, .wp {
  home-section {
    ion-card{
      margin: 0px 2px;
      width: 100%;
      border-radius: 0;
      .card-section {
        background-color: color($colors, light);
        padding: 8px;
      }
      .card-section-title {
        padding-top: 1.8rem;
        padding-bottom: 1.2rem;
        h1 {

        }
        h2 {

        }
      }
      .card-section-event {
        background-color: color($colors, secondary);
      }
      .card-section-options {
        background-color: color($colors, dark);
        ion-list{
        }
      }
    }
  }

}
