<ion-card>
  <div class="card-section card-section-title">
    <ion-row justify-content-center>
      <ion-col col-auto>
        <h1>Dear {{data.text.guestName}}</h1>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-auto>
        <h2>{{data.text.invitePara}}</h2>
      </ion-col>
    </ion-row>
  </div>
  <div class="card-section card-section-event">
    <div class="event-name">
      {{data.text.eventName}}
    </div>
  </div>
</ion-card>
