<div [ngSwitch]="content.title">
  <comment-section *ngSwitchCase="'Wishes'" [data]="content"></comment-section>
  <home-section *ngSwitchCase="'Home'" [data]="content"></home-section>
  <event-section *ngSwitchCase="'Events'" [data]="content"></event-section>
  <!-- <detail-section *ngSwitchCase="'Save The Date'" [data]="content"></home-section> -->
</div>
