<div class="section events-section">
  <div class="event" *ngFor="let ev of events">
    <h1>{{ev.name}}</h1>
    <h2>{{ev.desc}}</h2>
    <ion-row no-padding>
      <ion-col col-6>
        <a ion-button  small icon-start target="_blank" href="{{ev.venue_map}}">
          <ion-icon name='map'></ion-icon>
          {{ev.venue_add}}
        </a>
      </ion-col>
      <ion-col col-6>
        <button ion-button clear small icon-start (click)="addToCalendar(ev)">
          <ion-icon name='time'></ion-icon>
          {{ev.starts | date: 'longDate'}}
        </button>
      </ion-col>
    </ion-row>
  </div>
  <div class="event" *ngFor="let ev of events">
    <h1>{{ev.name}}</h1>
    <h2>{{ev.desc}}</h2>
    <ion-row no-padding>
      <ion-col col-6>
        <a ion-button  small icon-start target="_blank" href="{{ev.venue_map}}">
          <ion-icon name='map'></ion-icon>
          {{ev.venue_add}}
        </a>
      </ion-col>
      <ion-col col-6>
        <button ion-button clear small icon-start (click)="addToCalendar(ev)">
          <ion-icon name='time'></ion-icon>
          {{ev.starts | date: 'longDate'}}
        </button>
      </ion-col>
    </ion-row>
  </div>
  <div class="event" *ngFor="let ev of events">
    <h1>{{ev.name}}</h1>
    <h2>{{ev.desc}}</h2>
    <ion-row no-padding>
      <ion-col col-6>
        <a ion-button  small icon-start target="_blank" href="{{ev.venue_map}}">
          <ion-icon name='map'></ion-icon>
          {{ev.venue_add}}
        </a>
      </ion-col>
      <ion-col col-6>
        <button ion-button clear small icon-start (click)="addToCalendar(ev)">
          <ion-icon name='time'></ion-icon>
          {{ev.starts | date: 'longDate'}}
        </button>
      </ion-col>
    </ion-row>
  </div>
  <div class="event" *ngFor="let ev of events">
    <h1>{{ev.name}}</h1>
    <h2>{{ev.desc}}</h2>
    <ion-row no-padding>
      <ion-col col-6>
        <a ion-button  small icon-start target="_blank" href="{{ev.venue_map}}">
          <ion-icon name='map'></ion-icon>
          {{ev.venue_add}}
        </a>
      </ion-col>
      <ion-col col-6>
        <button ion-button clear small icon-start (click)="addToCalendar(ev)">
          <ion-icon name='time'></ion-icon>
          {{ev.starts | date: 'longDate'}}
        </button>
      </ion-col>
    </ion-row>
  </div>
  <div class="event" *ngFor="let ev of events">
    <h1>{{ev.name}}</h1>
    <h2>{{ev.desc}}</h2>
    <ion-row no-padding>
      <ion-col col-6>
        <a ion-button  small icon-start target="_blank" href="{{ev.venue_map}}">
          <ion-icon name='map'></ion-icon>
          {{ev.venue_add}}
        </a>
      </ion-col>
      <ion-col col-6>
        <button ion-button clear small icon-start (click)="addToCalendar(ev)">
          <ion-icon name='time'></ion-icon>
          {{ev.starts | date: 'longDate'}}
        </button>
      </ion-col>
    </ion-row>
  </div>
</div>
