.ios, .md, .wp {
  comment-section {
    ion-list{
      &:first-child {
        padding: 0px 30px 20px 30px;
        ion-item{
          .input-has-focus.item-input-has-focus {

          }
          .text-input {
            text-align: center;
          }
        }
      }
      &:nth-child(2) {
        margin-top: 10px;
      }
    }
    .section-wrapper {
      padding: 40px 30px 20px 30px;
    }
  }
}
