<div class="section-wrapper">
  <ion-list>
    <ion-item>
      <ion-textarea type="text" (ionFocus)="openCommentModal()" placeholder="{{data.text.inputLabel}}" rows="4" #commentInput></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let comment of comments">
      <ion-avatar item-start>
        <img [src]="imagePath + generateImgSrc(comment.img)">
      </ion-avatar>
      <h2>{{comment.guest_name}}</h2>
      <p>{{comment.txt}}</p>
    </ion-item>
  </ion-list>
</div>
